.icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: scale(1);
    width: 40%;
    transform: rotate(0deg);
    transition: 0.25s transform ease-in-out;
}

.rotateRight {
    transform: rotate(10deg);
}

@media (hover: hover) {
    .icon:hover {
        transform: scale(1.125);
    }
}

.icon:active {
    transform: scale(1);
    transition: 0.1s transform ease-in-out;
}
