.icon {
    width: 24px;
    height: 24px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border: 1px solid black;
    place-content: center;
    place-items: center;
}

.wrapper > div {
    flex: 1 1 0;
    display: flex;
    place-items: center;
    font-size: clamp(1.5rem, 2vh, 2.5rem);
}

.wrapper > div > p {
    margin: 0px;
}

.wrapper > p {
    grid-row: span 2;
    margin: 0px;
}

.bank {
    grid-area: 1 / 2 / 2 / 3;
}

.income {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 0.8rem !important;
}


