@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

:root {
  font-family: Abeezee;
  background-image: url(/bee-background.svg);
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #FABC3C;
}

body {
  margin: 0px;
}

#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 60vw;
  margin: auto;
}
